body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(43, 43, 43);
  border-radius: 0;
  border-bottom: 2px solid rgb(43, 43, 43);
  max-width: 75%;
  margin: 0px auto 100px;
}

.custom-heading {
  margin: 40px;
};

.description {
  white-space: pre-wrap;
}

#currentDay {
  font-weight: bold;
};

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
} */

/* .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
} */

.past {
  background-color: lightgray;
  color: gray;
}

.present {
  background-color: #667761;
  color: white;
}

.future {
  background-color: #eae1df;
  color: rgb(43, 43, 43);
}

.timeblock-custom {
  margin: -8px auto;
  height: 93px;
  border: 1px solid white;
}

.button-custom {
  margin-left: 0px;
  margin-top: -8px;
  background-color: #667761;
  color: white;
}

.container {
  margin: 100px auto;
  width: 70%;
}